<% content_for :head do %>
    <title>INNERSPEAKER</title>
<% end %>

<% content_for :stylesheets do %>
    #a {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1%;
        /* border: 3px solid black; */
        height: 50%;
    }

    #b {
        margin-top: 6%;
        text-align: center;
        font-family: Impact;
        letter-spacing: 0.5rem;
        font-size: 50px;
    }

    #c {
        text-align: center;
        margin-top: 3%;
        font-size: 24px;
        font-weight: bold;
    }
<% end %>

<h1 id="b">freddy fazbear entertainment</h1>
<img id="a" width="300" height="300" src="/images/freddy.png" alt="freddy fazbear">
<p id="c">hello mario</p>